@font-face {
  font-family: "logofont";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/logo.ttf") format("truetype");
}
html,
body,
div#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

